/* Header (topo) */
.header {
    background-color: #654f66;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


.main-container {
    padding: 20px;
  }

  
  .logo {
    height: 140px; 
    width: auto; 
    object-fit: contain; 
  }


  .auth-button {
    background-color: #007bff; /* Azul */
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  

/* Estilos para o botão de Favoritos */
.auth-button.favorites-button {
  background-color:rgb(12, 170, 175); /* Cor para o botão de Favoritos */
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-button.favorites-button:hover {
  background-color: #e67e22; /* Cor para o hover */
  transform: translateY(-1px);
}


  .auth-button:hover {
    background-color: #0056b3; /* Azul mais escuro */
  }

  .auth-buttons {
    display: flex;
    gap: 10px; /* Ajusta o espaço entre os botões */
    align-items: center;
  }
  
  .header .search-bar {
    max-width: 400px;
    width: 100%;
  }
  
